/* stylelint-disable color-function-notation */
/* stylelint-disable custom-property-empty-line-before */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

:root {

  --white: #fff;

  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;

  --black-soft: #222;
  
  --black-mute: #282828;

  --light-pink: rgb(240, 208, 209);

  --light-red: rgb(96, 41, 51);

  --dark-red: rgb(117, 22, 36);

  --dark-blue: rgb(31, 44, 68);

  --color-background: var(--light-pink);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-text: var(--dark-blue);
  --color-primary: var(--light-red);
  --color-primary-dark: var(--dark-red);
  --color-accent: var(--light-pink);

  --color-border: var(--dark-red);

  --font-title: 'Playfair Display', serif;
  --font-text: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
